body {
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.header {
    background-size: cover;
    background-position: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.product-card {
    margin-bottom: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.5);
}

.product-card img {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}

.cart-item:hover {
    transform: translateX(10px);
}

.cart-item img {
    max-width: 80px;
    margin-right: 20px;
}

.cart-item h5 {
    margin: 0;
}

.cart-item p {
    margin: 0;
}

.btn-remove {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
}

input[type="text"] {
    text-align: center;
}


/* Minimalistic, elegant, and beautiful bootstrap navbar */
.navbar {
    background-color: transparent;
    border: none;
}

.navbar-brand {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.navbar-toggler {
    background-color: transparent;
    border: none;
}

.navbar-nav .nav-link {
    color: #333;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 12px 15px;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

.navbar-nav .nav-link.active {
    color: #007bff;
    font-weight: 700;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 123, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-dark .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
}

.navbar-dark .navbar-toggler-icon {
    filter: invert(1);
}
